body {
  background-image: url('/styles/7R5YuYv7zFpd2NWXCnsUGM-1920-80.jpg.webp');
  height:100%;
  color:aliceblue;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  color:rgb(166, 205, 252);
}


.nav-bar{
  text-align: center;
  font-size: 35px;
  margin-top:20px;
  margin-bottom: 100px;
}

a:link, a:visited {
  color:rgb(166, 205, 252);
  background-color: transparent;
  text-decoration: none;
  margin-right:25px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  color: white;
  font-size: 20px;
}