.questions {
  font-weight: bold;
  }

  body{

    background-color: aliceblue;
    font-family: ubuntu;
  }
  

  a:link, a:visited {
    color: rgb(251, 99, 99);
    background-color: transparent;
    text-decoration: none;
    margin-right:10px;
  }
  
  @media only screen and (max-width: 1000px) {
    body {
      background-color: rgb(238, 228, 255);
    }